*{
	box-sizing: border-box;
}
.body{
	margin: 0;
}
.text{
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 33px;
	display: inline-block;
	margin-top: 127.8px;
	margin-left: 165px;
}
.img{
	float: right;
}
.img-thumbnail{
	width: 812px;
	height: 609px;
	margin-top: 58px;
}
.form{
	display: inline-block;
	margin-top: 57.4px;
	width: 427px;
	height: 83px;
}
.name, .email{
	width: 427px;
	height: 83px;
	font-size: 25px;
	color: #fff;
	background-color: rgba(242, 120, 92, 0.5) ;
	border-radius: 8px;
	border: none;
	margin-bottom: 20px;
	padding: 37px;
}
::placeholder{
	color:#fff;
}